#ignore vscode folder 
.vscode/
#ignore build folder
build/
#ignore models folder
models/*
#do not ignore models/contexts
!models/contexts/
#do not ignore readme.txt
!models/readme.txt
#ignore all files inside llama2 folder
models/contexts/llama2/*
#do not ignore readme.txt inside llama2 folder
!models/contexts/llama2/readme.txt
#ignore install folder
install/
